<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Planning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/dashboard"><img src="{{ url_for('static', filename='minsan_logo-light.png') }}" alt="Minsan Chemtek Logo" class="logo"></a>
    </header>
    <main>
        <div class="title-container">
            <h1>Monthly Planning</h1>
        </div>
        <div class="form-container">
            <form action="{{ url_for('submit_monthly_planning') }}" method="post">
                {% for qty in qty_pieces %}
                <div class="form-group">
                    <label for="monthly_plan_{{ qty }}">{{ qty }}</label>
                    <div class="form-inputs">
                        <input type="text" id="monthly_plan_{{ qty }}" name="monthly_plan_{{ qty }}" placeholder="Plan">
                        <input type="text" id="monthly_expectation_{{ qty }}" name="monthly_expectation_{{ qty }}" placeholder="Expectation">
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>
